@using ClaimsDemo
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "DisplayClaims";
    HttpContextAccessor httpContext = new HttpContextAccessor();
  
    //var ImgHandler = new ImgHandler();
}

<h1>@ViewBag.Name</h1>

@*<img src="@ImgHandler?image=C:\Users\pc\Pictures\fdfdfdfd.png" width=150 height=105 />*@

