@*@{
        ViewData["Title"] = "Index";
    }*@

<h1>Index</h1>

<img src="/image?url=https://api.fusionaccess.com/Media/e15c31d1-a199-44a0-88c6-b31c33716585.jpg&destinationwidth=100&destinationheight=100" />
