
@*@{
    ViewData["Title"] = "Index";
}*@

<h1>Index</h1>

<img src="/image?url=https://api.fusionaccess.com/Media/12449190_AC-CN-08_Front.jpg&sourcex=120&sourcey=100&sourcewidth=360&sourceheight=360&destinationwidth=100&destinationheight=100" />
