@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">userid= @Model.userid</h1>
    <h1 class="display-4">username= @Model.username</h1>
    <h1 class="display-4">usertoken= @Model.usertoken</h1>

    <p>Learn about <a href="/Account/Login">Login Page</a>.</p>
</div>
